.wrapper {
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1 0 100%;
}

.autocomplite{
  list-style-type: none;
  text-align: left;
  background: rgba(253, 253, 253, 0.082);
  border-top: 1px solid rgba(209, 209, 209, 0.233);
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding: 0;
}
.autocomplite::before{
  content: "";
}
.autocomplite>li{
  padding: 16px 16px 16px 60px;
}
