.wrapper_title {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.title {
  width: 100%;
  font-family: 'Verdana', sans-serif;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  color: rgba(13, 243, 13, 0.411);
  margin: 0;
  margin-bottom: 30px;
}

.title_img {
  height: 200px;
  width: 200px;
}
.title_img>img {
  height: 100%;
  width: 100%;
}