 .inputWrapper {
  position: relative;
  flex: 1 0 100%;
  color: black !important;
}

.Select{
  margin: 30px auto;
  width: 90%;
}

.Select::-webkit-input-placeholder {
  font-family: 'Indie Flower', cursive;
}
.Select::-moz-placeholder {
  font-family: 'Indie Flower', cursive;
}
.Select:-moz-placeholder {
  font-family: 'Indie Flower', cursive;
}
.Select:-ms-input-placeholder {
  font-family: 'Indie Flower', cursive;
}